name: Docs

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: pip install -e ".[docs]"
      - name: Build docs
        run: |
          cd docs
          make html
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs/_build/html
